@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    background-color: #222242;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
}
.wrapper{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wrapper p{
    position: relative;
    display: inline-block;
    color: hsl(322, 58%, 4%);
    z-index: 9999;
    font-size: 48px;
    margin-bottom: 120px;
}
.wrapper p::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: hsl(278, 59%, 44%);
    z-index: -1;
    border-radius: 50%;
	left: -10%;
    top: -118%;
    animation-name: shine;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes shine{
    0%,100%{
        box-shadow: 0px 0px 32px -12px rgba(38, 214, 161, 0.5);
    }
    50%{
        box-shadow: 0px 0px 32px 3px #14e9e980;
    }
}
button{
    background-color: hsl(293, 60%, 47%);
    padding: 10px 38px;
    border: 10px solid hwb(125 36% 11%);
    border-radius: 28px;
    color: hsl(180, 76%, 60%);
    transition: all .2s ease;
    outline: 0;
}
button:not(:last-child){
    margin-right: 20px;
}
button:hover,
button:focus
{    
    border-color: hsl(336, 56%, 2%);
    color: hwb(303 0% 4%);
    box-shadow: 0px 4px 27px -12px hsl(184, 100%, 48%);
}